.datagrid-card {
    display: inline-block;
    border-radius: 5px;
    background-color: white;
    font-family: sans-serif;
}

.datagrid-search-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.datagrid-search-section[search='false'] {
    display: none;
}

.datagrid-search-section input {
    height: 28px;
    margin-left: 5px;
    padding: 5px;
}

.datagrid-pagination-section {
    display: flex;
    justify-content: flex-end;
    user-select: none;
}

.datagrid-pagination-section ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.datagrid-pagination-section ul li {
    margin-left: 2px;
    padding: 0.3em 0.8em;
    border: 1px solid transparent;
    cursor: pointer;
}

.datagrid-pagination-section ul li[selected='false']:hover {
    color: #fff;
    border: 1px solid #111;
    background: linear-gradient(to bottom, #111122 0%, #000 100%);
}

.datagrid-pagination-section ul li[selected='true'] {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, rgba(100, 100, 100, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
}

.datagrid-table {
    border-collapse: collapse;
}

.datagrid-table .datagrid-selected {
    outline: solid 1px #00000011;
}

.datagrid-table tbody tr:nth-child(even) {
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.01);
}

.datagrid-table tbody tr:nth-child(odd) {
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.03);
}

.datagrid-table td,
.datagrid-table th {
    padding: 9px 10px;
    margin: 0;
    border: solid 1px transparent;
}

.datagrid-table thead th {
    border-bottom-color: #757575;
    user-select: none;
}

.datagrid-table tbody td {
    font-size: 14px;
    height: 1px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.edit-mode {
    text-overflow: inherit !important;
}

table:hover {
    cursor: pointer;
}